pre {
    background-color: #161B22;
    color: #F0F6FC;
    width: 95%;
    margin: 1.5em auto;
    padding-left: 1em;
    text-align: left;
    overflow: auto;
}

textarea {
    font-family: consolas, monospace;
    background-color: #161B22;
    color: #F0F6FC;
    height: 100%;
    width: 95%;
    margin: auto;
    padding-left: 1em;
    text-align: left;
    overflow: auto;
    resize: none;
    white-space: pre;
}