table thead th {
    border: 0;
}

table {
    width: 100%;
}

.collapsible-section-header {
    background-color: #e1e1e1;
}

.collapsible-section-header a {
    content: "\25ba";
    color: #363636;
    font-weight: 700;
    text-decoration: none;
}

.collapsible-section-header a:after {
    content: "\25bc";
    padding-left: 0.5em;
}

.collapsible-section-header a.collapsed:after {
    content: "\25ba";
    padding-left: 0.5em;
}

tbody .td-1 {
    background-color: #ededed;
    border: 1px solid #d1d1d1;
    padding: 1.25rem;
}